.container {
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
}

p {
    color: rgb(251, 44, 3);
    text-align: center; /* Para alinhar o texto no centro */
}

h1 {
    color:purple;
}